<section id="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="primary">
                <br />
                <p>
                    I am currently a Sophomore Computer Engineering student at Texas A&amp;M planning on graduating in 2019 with minors in Cybersecurity and Math.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Teaching Fellow</h3>
                    <ul class="text-muted text-left">
                        <li>
                            Lead groups of 8-10 Undergraduate Students in Calculus II Recitations
                        </li>
                        <li>
                            Guided Students through professor assigned challenge &amp; homework problems
                        </li>
                        <li>
                            Graded Students based on participation and willingness to learn as part of their
                            course grade
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>App Developer</h3>
                    <ul class="text-muted text-left">
                        <li>
                            Worked under Dr. Philip Yasskin in modifying maplets for public distribution.
                        </li>
                        <li>
                            Assisted in creating a Math Homework Grading system for use by Math professors at Texas A&amp;M and other colleges
                        </li>
                        <li>
                            Converted Math Textbook from LaTeX into a fully functional HTML website version
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Student Technician</h3>
                    <ul class="text-muted text-left">
                        <li>
                            Assisted computer support team in providing support of Windows 7 and Apple Mac computers for approximately 800 users.
                        </li>
                        <li>
                            Involved answering the phone to troubleshoot computer issues, performing hardware and software installations, upgrades and maintenance, assisting with special projects and general service desk duties.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Math Tutor</h3>
                    <ul class="text-muted text-left">
                        <li>
                            Assist students in elementary, middle, and high school in mathematics.
                        </li>
                        <li>
                            Worked with students in small groups of 3 to 4 to help develop their math skills
                        </li>
                        <li>
                            Helped individual students prepare for finals and specific projects in one on one tutoring sessions
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
