<section id="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="primary">
                <br/>
                <p>
                    Currently, I am in my junior year at Texas A&amp;M University where I am in the process of earning an
                    undergraduate degree in Computer Engineering, Computer Science track. I am also pursuing minors
                    in Mathematics and Cybersecurity.
                </p>
                <p>
                    My past experiences include a position as an Assistant Warehouse Manager for Melody
                    International which allowed me to develop skills in a fast-paced work environment. I have also
                    worked as an IT Student Technician where I interacted directly with customers on a daily basis in
                    order to resolve any issues they experienced. As an Undergraduate Teaching Fellow, I had the
                    opportunity to teach other students close to my age a technical subject as well as having to prepare
                    before hand to answer any questions about the topic at hand. Along with school, I currently work
                    part time at a software consulting firm where I complete and develop features following the
                    Agile framework.
                </p>
                <p>
                    In order to balance school work and my work hours, I have had to rely on my strong work ethic as
                    well as master my people and time management skills. From hours on the phone working on the
                    computer support team to hours in the classroom helping others succeed in their academics, I
                    always enjoy the challenge at hand.
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="primary">
<hr class="primary">
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="primary">
                <br/>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <img src="img/frogslayer.png" alt="frogslayer" width="56px">
                    <h3>Junior Software Developer</h3>
                    <h5><a href="https://frogslayer.com/" target="_blank">FrogSlayer</a></h5>
                    <ul class="text-muted text-left">
                        <li>
                            Primary responsibilities include developing new features, debugging and
                            resolving issues, testing my work,researching solutions to technical problems,
                            and communicating with clients and team leads regarding the progress of key
                            tasks or issues following Agile and Scrum software development methodologies
                        </li>
                        <li>
                            Common technologies include JavaScript, HTML5, CSS3, GitLab, MVC, Web API,
                            HTTP, NGINX, REST, AngularJS, TypeScript, React, Redux, Django, Vagrant, and PostgreSQL
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Teaching Fellow</h3>
                    <h5>
                        <a href="http://www.math.tamu.edu/" target="_blank">Department of Mathematics</a><br>
                        <small>Texas A&amp;M University</small>
                    </h5>
                    <ul class="text-muted text-left">
                        <li>
                            Lead groups of 8-10 Undergraduate Students in Calculus II Recitations
                        </li>
                        <li>
                            Guided Students through professor assigned challenge &amp; homework problems
                        </li>
                        <li>
                            Graded Students based on participation and willingness to learn as part of their
                            course grade
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>App Developer</h3>
                    <h5>
                        <a href="http://www.math.tamu.edu/" target="_blank">Department of Mathematics</a><br>
                        <small>Texas A&amp;M University</small>
                    </h5>
                    <ul class="text-muted text-left">
                        <li>
                            Worked under <a href="http://www.math.tamu.edu/~phil.yasskin/" target="_blank">Dr. Philip
                                Yasskin</a> in modifying maplets for public distribution.
                        </li>
                        <li>
                            Assisted in creating a Math Homework Grading system for use by Math professors at Texas A&amp;M
                            and other colleges
                        </li>
                        <li>
                            Converted Math Textbook from LaTeX into a fully functional HTML website version
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <!-- 2nd Row -->
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Student Technician</h3>
                    <h5>
                        <a href="http://doit.tamu.edu/" target="_blank">
                            Department of Student Affairs <br>
                        </a>
                        <small>Texas A&amp;M University</small>
                    </h5>
                    <ul class="text-muted text-left">
                        <li>
                            Assisted computer support team in providing support of Windows 7 and Apple Mac computers
                            for
                            approximately 800 users.
                        </li>
                        <li>
                            Involved answering the phone to troubleshoot computer issues, performing hardware and
                            software installations, upgrades and maintenance, assisting with special projects and
                            general service desk duties.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/mathnasium.png" alt="mathnasium" width="66px" height="56px">
                    <h3>Math Tutor</h3>
                    <h5><a href="http://www.mathnasium.com/pearland" target="_blank">Mathnasium</a></h5>
                    <ul class="text-muted text-left">
                        <li>
                            Assist students in elementary, middle, and high school in mathematics.
                        </li>
                        <li>
                            Worked with students in small groups of 3 to 4 to help develop their math skills
                        </li>
                        <li>
                            Helped individual students prepare for finals and specific projects in one on one
                            tutoring
                            sessions
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3>Information Technology Technician</h3>
                    <h5><a href="http://www.martinsen.com" target="_blank">Martinsen Software &amp; Electronics</a>
                    </h5>
                    <ul class="text-muted text-left">
                        <li>Installing hardware and software systems</li>
                        <li>Maintaining or repairing equipment</li>
                        <li>Troubleshooting a variety of computer issues</li>
                        <li>Setting up computer security measures</li>
                        <li>Configuring computer networks</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building wow bounceIn text-primary"></i>
                    <h3>Assistant Warehouse Manager</h3>
                    <h5><a href="http://www.melodyinternational.com/" target="_blank">Melody International</a></h5>
                    <ul class="text-muted text-left">
                        <li>
                            Maintain receiving, warehousing, and distribution operations by initiating,
                            coordinating, and enforcing program, operational, and personnel policies and
                            procedures
                        </li>
                        <li>
                            Comply with federal, state, and local warehousing, material handling, and
                            shipping requirements by studying existing and new legislation; enforcing
                            adherence to requirements; advising management on needed actions.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
