
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Contact Me</h2>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a target="_blank" rel="nofollow" href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }} {{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul>
        <h3><a href="joseph-resume.pdf" target="_blank">Email is on the Resume!</a></h3>
    </div>
</section>
<footer>
    <div class="container">
            <p>
                Made with <i class="fa fa-heart"></i> by <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/joseph-martinsen/">Joseph Martinsen</a>
            </p>
            <p>
                &copy; 2017
            </p>
        <ul class="list-inline">
            <li>
                <a href="https://github.com/JosephMart/PersonalSite" target="_blank">Source Code</a>
            </li>
            <li>
                <a href="https://github.com/JosephMart/PersonalSite/issues/new?body=page: {{page.url}}" target="_blank">Submit an Issue</a>
            </li>
        </ul>
    </div>
</footer>
