<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Joseph Martinsen</h1>
                        <h4>Computer Engineer</h4>
                        <h4>Texas A&amp;M University</h4>
                        <h4>Class of 2019</h4>
                        <br>
                        <a target="_blank" href="joseph-resume.pdf" class="btn btn-outline btn-xl page-scroll">Resume</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="img/face.JPG" alt="" class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
