<!-- Plugin JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.min.js"></script>
<script src="/vendor/wowjs/wow.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/new-age.min.js"></script>

<!-- Personal JavaScript -->
<script src="/js/personal.min.js"></script>

<!-- MathJax -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>